@model IEnumerable<Nhom24.Models.DonHang>

@{
    ViewData["Title"] = "ĐƠN HÀNG";
}

<h1>QUẢN LÝ ĐƠN HÀNG</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-danger">
    <thead>
        <tr class="table-success text-center">
            <th>
                ID Đơn Hàng
            </th>
            <th>
                Địa Chỉ Đơn Hàng
            </th>
            <th>
                Thành Tiền
            </th>
            <th>
                ID Người Dùng
            </th>
            <th>
                Tuỳ Chọn
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="align-middle">
            <td>
                @Html.DisplayFor(modelItem => item.DonHangID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThanhTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiDung.NguoiDungID)
            </td>
            <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.DonHangID" class="btn btn-info">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.DonHangID" class="btn btn-warning">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.DonHangID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
